
header {
  background-color: #2980b9;
  text-shadow: 1px 1px 1px rgba(1,1,1,0.3);
  padding: 15px;
  color: white;
}

h2 {
  box-sizing: border-box;
  font-size: 2.25rem;
  line-height: 1.25;
}

.main-container {
  box-sizing: border-box;
}

.second-container {
  width: 90%;
  max-width: 960px;
  padding: 0 5px;
  margin: 0 auto;
  box-sizing: border-box;
}


.panel {
  box-sizing: border-box;
  border: 2px #2980b9 solid;
}

.submit-item {
	margin: 10px auto;
	text-align: center;
}

.submit-item > * {
  height: 38px;
  margin: 0 0 5px 0;
  vertical-align: top;
}

.element-bar {
	padding: 1rem;
}

.right-options {
  display: inline-block;
  width: 15.16667%;
  margin-left: .75%;
  margin-right: .75%;
}

.grid-container {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.body {
  padding: 15px;
  box-sizing: border-box;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesom;
}

.fa-2x {
  font-size: 2em;
  cursor: pointer;
  color: #e74c3c;
}
